</main>
<footer>
    <div class="jackson">
        <h4>Founders</h4>
        <h3>Jackson Herron & Eduardo Franco </h3>
        <h5>jacksonherron@gmail.com | ed@eduardofranco.me</h5>
        <a><i class="fab fa-linkedin"></i></a>
    </div>

</footer>

<script src="/scripts/app.js"></script>
</body>

</html>