</main>
<footer>
    <div class="footer-container">
        <div class="created-by">Created By</div>
        <div class="footer-names">Jackson Herron & Eduardo Franco</div>
        <a class="jackson" href="http://www.linkedin.com/in/jacksonherron"><i class="fab fa-linkedin icon"></i></a>
        <a class="jackson" href="https://github.com/jacksonherron"><i class="fab fa-github-square icon"></i></a>
        <a class="eduardo" href="https://www.linkedin.com/in/edfrancocano/"><i class="fab fa-linkedin icon"></i></a>
        <a class="eduardo" href="https://github.com/edfranco"><i class="fab fa-github-square icon"></i></a>
        <div class="footer-emails">jacksonherron@gmail.com | ed@eduardofranco.me</div>
        <div class="footer-date">&copy;2019</div>
    </div>
</footer>

<script src="/scripts/app.js"></script>
</body>

</html>