<div class="user-links loggedIn">
    <div class="nav-link"><a href="/home">Home</a></div>
    <div class="nav-link"><a href="/profile">Profile</a></div>
    <div class="nav-link"><a href="/logout">Log Out</a></div>
</div>