
<% if(typeof errors !=='undefined') {%>
    <div class="alert error container">
        <% errors.forEach(error => { %>
            <div><%= error.message %></div>
        <% }) %>
    </div>
<% } %>