<% if(typeof errors !=='undefined') {%>
<% errors.forEach(error => { %>
<div class="alert error">
    <div class="container">
        <div><%= error.message %></div>
    </div>
</div>
<%  })%>
<% } %>