<nav>
    <div class="headers">
        <h1>Fieldr</h1>
        <h3>Find Your Field</h3>
    </div>

    <% if (typeof currentUser !== 'undefined'){ %>
    <% include ./_loggedIn.ejs %>
    <% } else { %>
    <% include ./_loggedOut.ejs %>
    <% }; %>

</nav>
<% include ./_messages.ejs %>
<main>