<nav>
    <div class="header">
        <a href="/">Fieldr</a>
    </div>

    <% if (typeof currentUser !== 'undefined'){ %>
    <% include ./_loggedIn.ejs %>
    <% } else { %>
    <% include ./_loggedOut.ejs %>
    <% }; %>

</nav>
<% include ./_messages.ejs %>
<main>