<nav>
    <div class="headers">
        <h1>Fieldr</h1>
        <h3>Find Your Field</h3>
    </div>
    <div class="user-links">
        <a href="">Log In</a>
        <a href="">Register</a>
    </div>
</nav>

<main>