<nav>
    <div class="header nav-link">
        <a href="/">Fieldr</a>
    </div>

    <% if (typeof currentUser !== 'undefined'){ %>
    <% include ./_loggedIn.ejs %>
    <% } else { %>
    <% include ./_loggedOut.ejs %>
    <% }; %>

</nav>
<div class="pseudo-nav"></div>
<% include ./_messages.ejs %>
<main>