<nav>
    <div class="headers">
        <div>Fieldr</div>
        <div>Find Your Field</div>
    </div>

    <% if (typeof currentUser !== 'undefined'){ %>
    <% include ./_loggedIn.ejs %>
    <% } else { %>
    <% include ./_loggedOut.ejs %>
    <% }; %>

</nav>
<% include ./_messages.ejs %>
<main>