<<<<<<< HEAD
<% include  ./partials /_head.ejs %>
<div class="user-profile">
    <h1>Hello <%= currentUser && currentUser.firstName  %> </h1>
</div>
<% include  ./partials/_footer.ejs %>
=======
<% include ./partials/_head.ejs %>
    <div class="home-page">
        <h1>Hello <%= currentUser && currentUser.firstName %></h1>
    </div>
<% include ./partials/_footer.ejs %>
>>>>>>> e107726502319367fff9be1479b29d922e499356
