<% include ./partials/_head.ejs %>
<div class="description-container">
    <div class="home-title">Fieldr</div>
    <div class="home-description">An app to meet new people with similar interests, help find a healthier lifestyle, and have fun!</p>
    <div class="button-container">
        <form method="GET" action="/login">
            <button type="submit">Log In</button>
        </form>
        <form method="GET" action="/signup">
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
</main>
<% include ./partials/_footer.ejs %>