<% include ./partials/_head.ejs %>
<div class="description-container">
    <h1>Fieldr</h1>
    <p>An app to meet new people with similar interests, help find a healthier lifestyle, and have fun!</p>
    <div class="button-container">
        <button>Log In</button>
        <button>Register</button>
    </div>
</div>
</main>
<% include ./partials/_footer.ejs %>