<% include ./partials/_head.ejs %>
<div class="description-container">
    <div class="home-title">Fieldr</div>
    <div class="home-description">Join pickup sports games happening in your city, or post events to host your own! It's not Grindr... unless you want it to be.</div>
    <div class="home-tagline">Find your field</div>
    <div class="home-button-container">
        <form method="GET" action="/login">
            <button type="submit">Log In</button>
        </form>
        <form method="GET" action="/signup">
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
</main>
<% include ./partials/_footer.ejs %>