<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Fieldr</title>
</head>

<body>
    <nav>
        <div class="headers">
            <h1>Fieldr</h1>
            <h3>Find Your Field</h3>
        </div>
        <div class="user-links">
            <a href="">Log In</a>
            <a href="">Register</a>
        </div>
    </nav>

    <main>
        <div class="description-container">
            <h1>Fieldr</h1>
            <p>An app to meet new people with similar interests, help find a healthier lifestyle, and have fun!</p>
        </div>
    </main>

    <footer>
        <a href="">Contact</a>
        <a href="">About</a>
        <a href="">Join</a>
        <a href="">Careers</a>
    </footer>

    <script src="/scripts/app.js"></script>
</body>

</html>