:root{
   --red:#CE2310;
   --blue: #2339FF;
   --yellow: #FCD92A;
   --black: #080708;
   --white: #FDFFFC;
   --mainFont: 'Lato';
   --titleFont: 'Passion One';
}

* {
   font-family: var(--mainFont);
   box-sizing: border-box;
}

*:focus{
   outline: none;
}

/* Removes default margin and padding in browsers */
body {
   margin: 0;
   padding: 0;
   position: relative;
   overscroll-behavior: none;
   min-height: 100vh;
}

main{
   display: flex;
   justify-content: center;
   padding-bottom: 10em;
   padding-top: 3em;
   background-color: var(--white);
}

/* Nav styles */
nav {
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   height: 4em;
   position: relative;

}
nav::before {
   content: '';
   border: 5px solid var(--yellow);
   width: 95vw;
   bottom: -1em;
   left: 5vw;
   position: absolute;
}
nav::after {
   content: '';
   border: 5px solid var(--blue);
   width: 95vw;
   bottom: -2em;
   right: 5vw;
   position: absolute;
}

.pseudo-nav {
   position: absolute;
}

.pseudo-nav::after {
   content: '';
   border: 5px solid var(--red);
   bottom: -3em;
   width: 80vw;
   left: 20vw;
   position: absolute;
}

nav .header * {
   font-size: 3em;
   font-family: var(--titleFont);
   margin-left: 1em;
}
.user-links{
   display: flex;
   flex-direction: row;
}
nav a {
   font-family: var(--titleFont);
   text-decoration: none;
   font-size: 2em;
   color: black;
   margin-right: 1em;
}
.nav-link:hover{
   transform: scale(1.1);
}

/* Footer styles */
footer {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   background-color: var(--black);
   height: 10em;
   text-align: center;
   color: var(--white);
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
}

.created-by {
   font-size: 0.8em;
   padding-bottom: 0.5em;
   text-decoration: underline;
}

.footer-names {
   font-size: 1.4em;
   padding-bottom: 0.3em;
}

.footer-emails {
   font-size: 0.8em;
   padding-bottom: 0.8em;
}

.footer-date {
   padding-top: 2em;
   padding-bottom: 1em;
   font-size: 0.5em;
}

footer a{
  color: var(--white);
  padding: 1em;
  text-decoration: none;
  font-size: 1em;
}

footer a:hover{
  color: var(--yellow);
}


/* Forms styling */

.forms * {
   display: block;
}

.form-title {
   font-weight: bold;

}

.form-to-be-appended{
position: relative;
}

input{
   border-color: 2px solid #dddddd;
   background-color: var(--white);
   border-radius: 5px;
   width: 20em;
   font-size: 1em;
}



button{
   color: var(--blue)!important;
   background: none;
   border: 4px solid var(--blue);
   font-weight: bold;
   color: var(--blue);
   border-radius: 50px;
   font-size: 1em;
   color: black;
   padding: 1em;
}

.home-button-container button{
   margin: 20px;
}

button:hover{
   color: var(--yellow)!important;
   border: 4px solid var(--yellow);
   cursor: pointer;
}

.inputs{
   display: flex;
   justify-content: space-between;
}

/* HOME PAGE */

.description-container {
   width: 80vw;
   min-width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 3em;
}

.home-title {
   font-size: 8em;
   font-family: var(--titleFont);
}

.home-description {
   font-size: 2em;
   text-align: center;
   margin: 0 2em;
}

.home-tagline {
   margin-top: .5em;
   font-size: 2em;
   font-family: var(--titleFont);
}

.home-button-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
}



/* POSTS Styling */
#wall {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
}

.post {
   border: 1px solid black;
   margin: 1em;
   max-width: 16em;
}

.post-header {
   position: relative;
}

.post-header .sport-name{
   font-size: 1.8em;
   font-weight: bold;
   margin-bottom: 0.3em;
   max-width: 12em;
   padding: 0.2em;
}

.post .host-name, .location{
   font-size: 1.2em;
}


.descr {
   margin-top: 0.5em;
   margin-bottom: 1em;
}

.descr-title{
   font-weight: bold;
}

.delete-button {
   position: absolute;
   top: 0;
   right: 0;
   width: 1em;
   padding-right:1.5em;
   padding-top: 0.5em;
}

.delete-button:hover{
   cursor: pointer;
}

.comments {
   border: 1px solid black;
   font-size: 0.8em;
}

.comment-form input {
   font-size: 1em;
   width: 100%;
}

.spacer-container{
   display: flex;
   justify-content: space-between;
}

.comments-title {
   font-weight: bold;
}
/* Users Wall */
.wall{
   display: flex;
   flex-direction: column;
}
.card{
   height:50vh;
   width: 60vh;
   /* overflow: hidden; */
}
.card .sport{
   font-size: 2em;
}
.card .descr{
   height: 100%;
   padding-left: .5em;
   padding-top:.2em;
   border: 1px solid black;
}
.card .descr h1{
   margin:0;
}
/* Comments style */
.comments-user{
   margin: 0;
}
.comment-field{
   width: 60vh;
}
.inputs{
   display: flex;
   justify-content: space-between;
}

form * {
   display: block;
}

input{
   margin: 5px;
   border: 
   font-family: sans-serif;
   font-size: 1.5em;
   height:7vh;
   width:50vh;
}

input:focus {
   outline: none;
}

/* Users Wall */
.wall{
   display: flex;
   flex-direction: column;
}
.card{
   height:50vh;
   width: 60vh;
   /* overflow: hidden; */
}
.card .sport{
   font-size: 2em;
   background-color: whitesmoke;
}
.card .descr{
   height: 100%;
   padding-left: .5em;
   padding-top:.2em;
   border: 1px solid black;
   background-color: antiquewhite;
}
.card .descr h1{
   margin:0;
}
/* Comments style */
.comments-user{
   margin: 0;
}
.comment-field{
   width: 60vh;
}
.inputs{
   display: flex;
   justify-content: space-between;
}