:root{
   --red:#D00000;
   --yellow: #FEBA33;
   --blue: #00BDED;
   --black: #080708;
   --lightBlack: #5f5d5f;
   --white: #FDFFFC;
   --jackson: #ADFFDD;
   --mainFont: 'Lato';
   --titleFont: 'Fascinate Inline';
   --otherFont: 'Anton';
}

* {
   font-family: var(--mainFont);
   box-sizing: border-box;
   color: var(--black);
}

*:focus{
   outline: none;
}

/* BODY AND MAIN */
body {
   margin: 0;
   padding: 0;
   position: relative;
   overscroll-behavior: none;
   min-height: 100vh;
   
}

main{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 12em;
   padding-top: 3em;
   background-color: var(--white);
}

/* ALERT MESSAGES */
.alert {
   position: relative;
   top: 3.5em;
}

.alert * {
   font-weight: bold;
   color: var(--red);
   text-align: center;
}

/* NAV */
nav {
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   height: 4em;
   position: relative;
   background: var(--black);

}
nav::before {
   content: '';
   border: 5px solid var(--blue);
   border-radius: 10px;
   width: 97vw;
   bottom: -1em;
   left: 3vw;
   position: absolute;
}
nav::after {
   content: '';
   border: 5px solid var(--red);
   border-radius: 10px;
   width: 95vw;
   bottom: -2em;
   right: 5vw;
   position: absolute;
}

.pseudo-nav {
   position: absolute;
}

.pseudo-nav::after {
   content: '';
   border: 5px solid var(--yellow);
   border-radius: 10px;
   bottom: -3em;
   width: 80vw;
   left: 20vw;
   position: absolute;
}

nav .header * {
   font-size: 3em;
   font-family: var(--titleFont);
   margin-left: 1em;
   color: var(--white);
}
.user-links{
   display: flex;
   flex-direction: row;
}
nav a {
   font-family: var(--titleFont);
   text-decoration: none;
   font-size: 2em;
   color: var(--white);
   margin-right: 1em;
}

nav a:hover{
   color: var(--yellow);
}

nav .header a:hover{
   color: var(--yellow);
}



/* FOOTER */
footer {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   background-color: var(--black);
   height: 12em;
   text-align: center;
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
}

footer * {
   color: var(--white);
}

.created-by {
   font-size: 0.7em;
   padding-bottom: 0.2em;
}

.footer-names * {
   font-family: var(--titleFont);
   font-size: 1.4em;
   padding-bottom: 0.3em;
}

.footer-names .eduardo {
   color:pink;
}

.footer-names .jackson {
   color: var(--jackson);
}

.footer-emails {
   font-size: 1em;
   padding-top: 0.4em;
}

.footer-emails .eduardo {
   color: pink;
}

.footer-emails .jackson {
   color: var(--jackson);
}

.footer-date {
   padding-top: 1em;
   padding-bottom: 2.5em;
   font-size: 0.5em;
}


footer a{
  color: var(--white);
  padding: 0.2em;
  text-decoration: none;
  font-size: 2em;
}


footer .fab:hover{
  color: var(--white);
}


.eduardo * {
   color:pink;
}

.jackson * {
   color: var(--jackson);
}


/* FORMS */
form * {
   display: block;
}

.login, .signup {
   margin: 1.5em;
}

.form-title {
   font-weight: bold;
   font-family: var(--titleFont);
   text-align: center;
   font-size: 2em;
}

.form-to-be-appended{
position: relative;
}

input{
   border-color: 2px solid #dddddd;
   background-color: var(--white);
   border-radius: 5px;
   width: 20em;
   font-size: 1em;
   height: 2em;
   margin: 5px 0;
}

input:focus {
   outline: none;
}

button {
   color: var(--white);
   background: none;
   border: 4px solid var(--yellow);
   background-color: var(--yellow);
   font-weight: bold;
   border-radius: 50px;
   font-size: 1em;
   padding: 0.8em;
   font-family: var(--titleFont);
}

button:hover{
   background-color: var(--white);
   color: var(--yellow);
   cursor: pointer;
}

.home-button-container button{
   margin: 20px;
   border: 4px solid var(--yellow);
   background-color: var(--yellow);
}

.home-button-container button:hover{
   background-color: var(--white);
   color: var(--yellow);
   cursor: pointer;
}

#new-post-button {
   border: 4px solid var(--blue);
   background-color: var(--blue);
   color: var(--white);
}

#new-post-button:hover {
   background-color: var(--white);
   color: var(--blue);
   cursor: pointer;
}

.button-on#new-post-button {
   border: 4px solid var(--red);
   background-color: var(--red);
   color: var(--white);
}

.button-on#new-post-button:hover {
   background-color: var(--white);
   color: var(--red);
   cursor: pointer;
}


.post button{
   margin: 20px;
   border: 4px solid var(--white);
   background-color: var(--white);
   color: var(--lightBlack);
}

.post button:hover{
   cursor: pointer;
   background-color: var(--white);
   color: var(--yellow);
}

.forms button {
   margin: 2em auto 1em;
   font-family: var(--titleFont);
}

.comment-button, .join-button {
   margin: 10px auto 0!important;
}

.inputs{
   display: flex;
   justify-content: space-between;
}

/* INDEX PAGE */

.description-container {
   width: 80vw;
   min-width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 2em;
}

.home-title {
   font-size: 8em;
   font-family: var(--titleFont);
   color: var(--black);
}

.home-description {
   font-size: 2em;
   text-align: center;
   margin: 0 2em;
}

.home-tagline {
   margin-top: .5em;
   font-size: 2em;
   font-family: var(--titleFont);
}

.home-button-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.home-button-container * {
   font-family: var(--titleFont);
}

/* HOME AND PROFILE PAGE */


.wall {
   margin-top: 1em;
   width: 100vw;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: flex-start;
   align-items: center;
}

.home-button-container * {
   font-family: var(--titleFont);
}

.submit-btn-container{
   display: flex;
   justify-content: center;
}

.submit-btn{
   color: var(--white)!important;
   background: none;
   border: 4px solid var(--yellow);
   background: var(--yellow);
   font-weight: bold;
   color: var(--yellow);
   border-radius: 50px;
   font-size: 1em;
   color: black;
   padding: 0.8em;
   font-family: var(--titleFont);
   width: auto;
   height: auto;
}

.submit-btn:hover{
   background-color: var(--white);
   color: var(--yellow)!important;
   cursor: pointer;
}

.intro-container {
   margin-top: 1em;
   display: flex;
   flex-direction: row;
   position: relative;
}

.intro-container::after{
   content: '';
   border: 5px solid var(--black);
   border-radius: 10px;
   width: 95vw;
   bottom: -2em;
   right: 2.5vw;
   position: absolute;
}

.profile-container {
   width: 50vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.new-post-container {
   width: 50vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
}

.new-post-container::before {
   content: '';
   border: 5px solid var(--black);
   border-radius: 10px;
   bottom: -2em;
   top: -0.5em;
   left: 0;
   position: absolute;
}

.past-events {
   position: relative;
}

.past-events::before {
   content: '';
   border: 5px solid var(--black);
   border-radius: 10px;
   width: 95vw;
   top: -.8em;
   right: 2.5vw;
   position: absolute;
}

.hello {
   font-size: 3em;
   font-family: var(--titleFont);
   margin-left: .5em;
   color: var(--blue);
}

.profile-info{
   margin-left: 2em;
}

.profile-info-bold {
   font-family: var(--titleFont);
}

.wall-title {
   margin-top: 1em;
   margin-bottom: 0.25em;
   font-size: 2em;
   margin-left: 2em;
   margin-top: 1.5em;
   font-family: var(--titleFont);
   color: var(--red);
}


/* POSTS*/

.post {
   border: 5px solid var(--lightBlack);
   background: var(--lightBlack);
   border-radius: 40px;
   width: 18em;
   padding: 1em;
   margin-bottom: 2em;
   margin: 0 1em 2em;
}

.post-header {
   position: relative;
}

.sport-name{
   font-size: 1.8em;
   font-weight: bold;
   text-align: center;
   font-family: var(--titleFont);
   padding: 0 1em 0.2em;
   color: var(--white);
}

.post-date, .location, .host-name, .joins{
   font-size: 1.2em;
   color: var(--white);
}


.joins{
   font-family: var(--titleFont);
   color: var(--yellow);
}

.descr {
   margin-top: 0.25em;
   margin-bottom: 1em;
   color: var(--white);
}

.descr-title{
   font-weight: 800;
   color: var(--white);
}

.delete-button {
   position: absolute;
   top: 0;
   right: 0;
   font-size: 1.3em;
}

.delete-button:hover{
   cursor: pointer;
}

.delete-button:hover{
   transform: scale(1.3);
}

.comments {
   font-size: 0.8em;
   margin-top: 2em;
   position: relative;
}

.comments::before{
   content: '';
   border: 2px solid var(--white);
   border-radius: 10px;
   width: 19em;
   top: -1em;
   position: absolute;
}

.comment-form input {
   font-size: 1em;
   width: 100%;
}


.spacer-container{
   display: flex;
   justify-content: space-between;
}

.comment-author {
   font-family: var(--titleFont);
   color: var(--white);
}

.comment-content {
   color: var(--white);
}


.comment-form .spacer-container {
   display: flex;
   justify-content: space-around;
}