:root{
    --main-color:rgb(166, 210, 235);
    --secondary-color: rgb(230, 119, 119);
}
/* Removes default margin and padding in browsers */
body{
    margin: 0;
    padding: 0;
}

/* Styles the top third of the page */
nav{
    background-color: var(--main-color);
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height:20vh;
}

nav .headers{
    color: var(--secondary-color);
}

nav .headers h1{
    font-size: 3em;
    margin-bottom: 0;
}

nav .headers h3{
    font-size: 2em;
    margin: 0;
}

nav a {
    text-decoration: none;
    font-size: 2em;
    color: var(--secondary-color);
    margin-right: 1em;
}

nav a:hover{
    color:white;
}

/* Styles what the main page should look like */
main{
    background-color: whitesmoke;
    height:80vh;
    display: flex;
    justify-content: center;
}



.description-container p {
    font-size: 2em;
    width: 60vw;
    line-height: 1.7em;
}

.description-container .button-container{
    display: flex;
    justify-content: flex-end;
}

.description-container .button-container button{
    background-color: var(--secondary-color);
}

/* Bottom footer styles */
footer{
    background-color: black;
    height: 20vh;
}